In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('my_workouts.csv')

In [3]:
df.head()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Average Pace,Average Speed,Average Cadence,Active Energy,Total Energy,Elevation Ascended,Elevation Descended,Weather Temperature,Weather Humidity
0,Outdoor Running,2021-01-13 09:52,2021-01-13 10:26,0:34:23,4.849530,114.931398,130.0,0:07:05,8.459564,294.952441,429.200,531.425,41.07,NaN,7.0,61.0
1,Other,2021-01-11 12:34,2021-01-11 12:42,0:07:18,NaN,122.968750,185.0,NaN,NaN,NaN,91.970,137.553,NaN,NaN,9.0,82.0
2,Outdoor Walking,2021-01-10 15:58,2021-01-10 16:09,0:10:31,0.757444,94.238095,112.0,0:13:53,4.320372,205.560360,63.440,112.274,9.04,NaN,8.0,86.0
3,Outdoor Running,2021-01-10 15:33,2021-01-10 15:58,0:24:52,3.242148,117.484979,153.0,0:07:40,7.820193,283.268025,295.637,350.925,29.00,NaN,8.0,86.0
4,Outdoor Walking,2021-01-10 09:32,2021-01-10 10:39,0:52:28,4.309139,71.099371,125.0,0:12:10,4.927681,199.568123,307.086,482.287,50.64,NaN,6.0,97.0