In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('my_workouts.csv')

In [4]:
df.head()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Average Pace,Average Speed,Average Cadence,Active Energy,Total Energy,Elevation Ascended,Elevation Descended,Weather Temperature,Weather Humidity
0,Outdoor Running,2021-01-13 09:52,2021-01-13 10:26,0:34:23,4.849530,114.931398,130.0,0:07:05,8.459564,294.952441,429.200,531.425,41.07,NaN,7.0,61.0
1,Other,2021-01-11 12:34,2021-01-11 12:42,0:07:18,NaN,122.968750,185.0,NaN,NaN,NaN,91.970,137.553,NaN,NaN,9.0,82.0
2,Outdoor Walking,2021-01-10 15:58,2021-01-10 16:09,0:10:31,0.757444,94.238095,112.0,0:13:53,4.320372,205.560360,63.440,112.274,9.04,NaN,8.0,86.0
3,Outdoor Running,2021-01-10 15:33,2021-01-10 15:58,0:24:52,3.242148,117.484979,153.0,0:07:40,7.820193,283.268025,295.637,350.925,29.00,NaN,8.0,86.0
4,Outdoor Walking,2021-01-10 09:32,2021-01-10 10:39,0:52:28,4.309139,71.099371,125.0,0:12:10,4.927681,199.568123,307.086,482.287,50.64,NaN,6.0,97.0

In [5]:
average_calories = df['Active Energy'].mean()
print(average_calories)

259.0290735163862

In [6]:
df.tail()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Average Pace,Average Speed,Average Cadence,Active Energy,Total Energy,Elevation Ascended,Elevation Descended,Weather Temperature,Weather Humidity
1135,Functional Strength Training,2018-07-27 09:00,2018-07-27 09:30,0:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136,Hiking,2018-07-15 12:23,2018-07-15 14:17,1:31:06,7.8223,NaN,NaN,0:11:38,5.151899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,Outdoor Running,2018-07-12 20:29,2018-07-12 21:19,0:49:36,6.5675,NaN,NaN,0:07:33,7.944556,134.445837,NaN,NaN,NaN,NaN,NaN,NaN
1138,Outdoor Running,2018-06-08 12:23,2018-06-08 13:11,0:47:47,6.4503,NaN,NaN,0:07:24,8.099435,138.090299,NaN,NaN,NaN,NaN,NaN,NaN
1139,Outdoor Running,2017-09-15 18:48,2017-09-15 19:36,0:46:36,6.3608,NaN,NaN,0:07:19,8.189871,137.360187,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
hiit_workout = df[df['Type'] == 'High Intensity Interval Training']

In [23]:
hiit_calories = hiit_workout['Active Energy'].mean